In [2]:
import requests
import pandas as pd
import numpy as np
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
r = requests.get(url)
json = r.json()
json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [3]:
elements_df = pd.DataFrame(json['elements'])
teams_df = pd.DataFrame(json['teams'])

In [4]:
elements_df.keys()

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text'],
      dtype='object')

In [5]:
posts = elements_df.groupby('element_type')
print(posts.groups)

{1: Int64Index([  7,  30,  31,  33,  34,  38,  41,  79,  90,  91,  95, 112, 115,
            122, 125, 134, 149, 150, 153, 155, 180, 181, 184, 190, 200, 209,
            212, 224, 227, 237, 246, 252, 275, 289, 294, 299, 308, 315, 330,
            334, 345, 357, 361, 362, 364, 378, 402, 403, 423, 434, 436, 448,
            453, 457, 465, 477, 482, 492, 507, 513, 525, 544, 545, 546, 548,
            570, 572, 587],
           dtype='int64'), 2: Int64Index([  1,   2,   4,   6,   9,  10,  11,  12,  13,  14,
            ...
            575, 577, 578, 583, 585, 586, 593, 595, 596, 598],
           dtype='int64', length=218), 3: Int64Index([  0,   3,   8,  16,  17,  18,  19,  21,  22,  23,
            ...
            580, 581, 582, 584, 588, 589, 590, 594, 597, 599],
           dtype='int64', length=238), 4: Int64Index([  5,  20,  54,  55,  56,  57,  61,  64,  73,  77,  87,  93,  94,
            102, 103, 107, 109, 123, 124, 127, 138, 139, 151, 159, 163, 167,
            186, 197, 199, 202, 210, 222, 225, 253, 261, 273, 283, 298, 312,
            319, 335, 349, 358, 366, 376, 395, 397, 406, 417, 418, 425, 428,
            429, 430, 443, 444, 455, 460, 470, 474, 480, 487, 511, 514, 516,
            523, 524, 540, 552, 556, 559, 561, 576, 579, 591, 592],
           dtype='int64')}

In [6]:
GK = posts.get_group(1)
DF = posts.get_group(2)
MD = posts.get_group(3)
ST = posts.get_group(4)
GK

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text
7,NaN,NaN,80201,0,0,0,0,1,1,4.2,...,556,59,177,9,NaN,,NaN,,NaN,
30,NaN,NaN,113534,0,0,0,0,0,1,0.5,...,372,11,430,36,NaN,,NaN,,NaN,
31,NaN,NaN,115918,0,0,0,0,0,1,0.5,...,469,43,511,62,NaN,,NaN,,NaN,
33,NaN,NaN,98980,0,0,3,-3,0,1,3.0,...,515,51,151,5,NaN,,NaN,,NaN,
34,0.0,0.0,21205,0,0,0,0,0,1,0.0,...,455,35,501,58,NaN,,NaN,,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546,NaN,NaN,37096,0,0,0,0,1,1,8.0,...,549,56,186,12,NaN,,NaN,,NaN,
548,0.0,0.0,40694,0,0,0,0,0,1,0.0,...,457,37,503,60,NaN,,NaN,,NaN,
570,NaN,NaN,19236,0,0,-1,1,0,1,0.0,...,410,21,463,46,NaN,,NaN,,NaN,
572,NaN,NaN,38533,0,0,0,0,0,1,6.0,...,582,66,181,11,NaN,,NaN,,NaN,
587,0.0,0.0,216208,0,0,0,0,0,1,0.0,...,479,48,518,65,NaN,,NaN,,NaN,

In [8]:
pd.options.mode.chained_assignment = None
GK['defence']=0
for row in GK.index:
    team_id=GK['team'][row]
    team_row=GK.loc[GK['id']==team_id]
    strength=team_row['strength_defence_home']
    GK['defence'][row]=strength
GK

KeyError: 'strength_defence_home'

In [39]:
GK_STAT = GK[['id','first_name','second_name','clean_sheets','saves']]
GK_STAT

      id  first_name          second_name  clean_sheets  saves
7      8       Bernd                 Leno             2     21
30   527        Matt                Macey             0      0
31   547  Rúnar Alex            Rúnarsson             0      0
33    12    Emiliano             Martínez             4     22
34    28         Tom               Heaton             0      0
..   ...         ...                  ...           ...    ...
546  431      Lukasz            Fabianski             3     20
548  433     Roberto         Jimenez Gago             0      0
570  453        John                Ruddy             0      0
572  455   Rui Pedro  dos Santos Patrício             4     20
587  472      Matija               Sarkic             0      0

[68 rows x 5 columns]

In [34]:
elements_df[['news']]

                                                  news
0    Not included in Arsenal's 25-man Premier Leagu...
1    Not included in Arsenal's 25-man Premier Leagu...
2
3
4
..                                                 ...
595
596
597
598              Muscle injury - 75% chance of playing
599

[600 rows x 1 columns]

In [20]:
teams_df.keys()

Index(['code', 'draw', 'form', 'id', 'loss', 'name', 'played', 'points',
       'position', 'short_name', 'strength', 'team_division', 'unavailable',
       'win', 'strength_overall_home', 'strength_overall_away',
       'strength_attack_home', 'strength_attack_away', 'strength_defence_home',
       'strength_defence_away', 'pulse_id'],
      dtype='object')

In [10]:
teams_df.head()

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,0,ARS,...,None,False,0,1190,1210,1160,1210,1190,1230,1
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,...,None,False,0,1150,1160,1140,1170,1120,1160,2
2,36,0,None,3,0,Brighton,0,0,0,BHA,...,None,False,0,1080,1100,1110,1130,1100,1120,131
3,90,0,None,4,0,Burnley,0,0,0,BUR,...,None,False,0,1050,1080,1130,1150,1010,1020,43
4,8,0,None,5,0,Chelsea,0,0,0,CHE,...,None,False,0,1260,1280,1180,1250,1230,1260,4